.cartmenu
{
    height: 100vh;
    width: 100vw;
}

.cartmenu .list
{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    gap: 1vmax;
    background: whitesmoke;
    padding: 1vmax;
    height: 70vmax;
}
.cartmenu .list .item .left img
{
    width: 100%;
    border-radius: 100%;
}
.cartmenu .list .item .left
{
    flex: 2;
}
.cartmenu .list .item .right
{
    flex: 4;
}
.cartmenu .list .item
{
    padding: 2vmax;
    height: 20vmax;
    display: flex;
    flex-direction: row;
    gap: 1vmax;
    background-color: white;
    border-radius: 2vmax;
}

.cartmenu .row
{
    margin-top: auto;
    width:100%;
    height: 10vmax;
    justify-content: center;
}
.cartmenu .row input
{
    padding: 1vmax;
}
.cartmenu .row button
{
    width: 80%;
}