.grid
{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.grid .card
{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 200px;
    
}
.grid .card h1
{
    font-weight: 600;
    text-align: center;
}
.grid .card img
{
    object-fit:contain;
    height: 70%;
}

.menu
{
    display: flex;
    flex-direction: column;
    outline: 1px solid lightgray;
}
.menu .control
{
    display: flex;
    gap: 10px;
    align-items: center;
}
.menu .element
{
    padding: 10px ;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;

    
}
.menu .category h1
{
    font-weight: 700;
}
.menu .category
{
    width: 100%;
    outline: 1px solid lightgray;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.subscriptions
{
    display: flex;
    gap: 20px;
}
.subscriptions .cont
{
    background: orange;
    padding: 50px;
    border-radius: 50px 0px 50px 0px;
}
.subscriptions .card .content
{
    background: white;
    display: flex;
    flex-direction: column ;
    padding: 20px;
    border-radius: 50px;
    flex: 3;
    height: 300px;
}
.subscriptions ul
{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
}
.subscriptions h1
{
    align-self: center;
    font-size: 2rem;
    font-weight: 600;
}
.subscriptions .pricing
{
    margin-top: auto;
    align-self: center;
    text-align: center;
    font-weight: 700;
}
.subscriptions button{
    width: 200px;
    border-radius: 20px;
    background: orange;
    align-self: center;
}
.subscriptions .card
{
    display: flex;
    flex-direction: column ;

    flex: 3;
    padding: 20px;
    gap: 20px;
}

.cart
{
    position: fixed;
    right: 5%;
    top: 2%;
    background: orange;
    height: 7vh;
    width: 7vh;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.pageheader
{
    height: 20vmax;
    padding: 3vmax;
    background: whitesmoke;
    background-image: url('https://miro.medium.com/v2/resize:fit:1400/0*oTfm1pTXLxitHHFy.jpg');
    background-size: cover;
    margin-bottom: 10vmax;
    border-radius: 0px 0px 2vmax 2vmax;
}

.pageheader .bg
{
    width: 100%;
    height: 100%;
    border-radius: 0;
}
.pageheader img
{
    height: 15vmax;
    width: 15vmax;
    transform: translateY(5vmax);
    border-radius: 100%;
    background: white;
}

.menulist .element
{
    padding: 1vmax;
    display: flex;
    justify-content: space-between;
    border: 1px solid lightgray;
    border-radius: 1vmax;

}
.menulist .category .row
{
    border-bottom: 1px solid lightgray;
    width: 100%;
    padding: 1.5vmax;
}
.menulist .category .items
{
    display: flex;
    flex-direction: column;
    padding: 1vmax;
    gap: 1vmax;
}
.menulist .category
{
    display: flex;
    flex-direction: column;
    gap: 2vmax;
    background: white;
    outline: 1px solid gray;
    border-radius:1vmax;
}
.menulist
{
    display: flex;
    flex-direction: column;
    background: rgb(250, 250, 250);
    gap: 2vmax;
    
}
.menulist .card
{
    display: flex;
    flex-direction: column;
    height: 30vh;

}

/*
.menulist .card
{
    display: flex;

    background: white;
    color: gray;
    gap: 10px;
    height: 20vh;
}
*/
.menulist .rating
{
    display: flex;
    gap: 1vmax;
    /*background: orange;*/
    padding: 1vmax;
    border-radius: 100px;
    align-self:flex-start;
}

.menulist .menucategories
{
    display: flex;
    gap: 1vmax;
    width: 100vw;
    padding: 10px;
    overflow-x: scroll;
}

.menulist .menucategories .category
{
    padding: 5px 10px;
    border-radius: 20px;
}
.menulist .searchform
{
    padding: 5px;
    outline: 1px solid gray;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
}
.menulist .searchform input
{
    padding: 5px 10px;
    border: none;
}

.menulist .card .time
{
    color: gray;
    display: flex;
    align-items: center;
    gap: 5px;
}
.menulist .card h1
{
    font-weight: 700;
    text-transform: capitalize;
}
.menulist .card .control
{
    margin-top: auto;
    padding: 10px;
}
.menulist .card .left
{
    flex: 3;
}
.menulist .card .right
{
    display: flex;
    flex-direction: column;
    flex: 6;
    gap: 5px;
    padding: 10px;
}
.menulist .card .content
{
    height: 30%;
    padding: 2vmax;
}
.menulist .card img
{
    height: 70%;
    width: 100%;
    border-radius: 2vmax;
    object-fit: cover;
}