nav
{
    height: 10vh;
    background: rgb(255, 178, 34);
}
nav .navlist
{
    display: flex;
    max-width: 20%;
    margin-left: auto;
    align-items: center;
    gap: 20px;
    height: 100%;
}
nav .navlist .navelement
{
    display: flex;
    padding: 10px;
    fill: white;
    background: lightgray;
    border-radius: 100%;
    cursor: pointer;
}
.navtabs
{
    display: flex;  
    width: 100%;
    border-bottom: 1px solid lightgray;
    background: rgb(255, 187, 60);
}
.navtabs .tab
{
    flex: 1;
    display:flex;
    padding: 20px 20px;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-right: 1px solid lightgray;
}