.page
{
    background: whitesmoke;
    border-radius: 20px;
    height: 900px;
}
.page form
{
    width: 70%;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 2vmax;
}   
.page form p
{
    flex: 2;
}
.page form label
{
    flex: 2;
    display: flex;
}
.page form input
{
    flex: 2;
}
.input-grp
{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    width: 100%;
}
.page header
{
    height: 30%;
    background: lightgray;
    padding: 20px;
    border-radius: 20px;
}
.page section
{
    padding: 20px;
    height: 70vh;
}
.page #pic
{
    min-height: 200px;
    min-width: 200px;

    object-fit: cover;
    background: white;
    border-radius: 100vh;
    
    transform: translateY(60%) translateX(20%);
    cursor: pointer;
    box-shadow: gray 0px 0px 10px 0px;
}