.sidebar
{
    width: 20%;
    padding: 10px;
    height: 90vh;
    box-shadow: gray 0px 2px 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar h1
{
    font-size: 1.2rem; 
    padding: 20px;
    font-weight: 700;
}
.sidebar h2
{
    font-weight: 700;
    padding: 10px;
}
.sidebar .element
{
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}
.sidebar .element:hover
{
    background: orange;
    color: black;
    border-radius: 20px;
}